#include "nucleo_f072rb.dtsi"

&i2c1 {
	pinctrl-0 = <&i2c1_scl_pb6 &i2c1_sda_pb7>;
	pinctrl-names = "default";
	status = "okay";
	clock-frequency = <I2C_BITRATE_STANDARD>;
	aux_display_gpio: pcf8574@27 {
		compatible = "nxp,pcf857x";
		reg = <0x27>;
		gpio-controller;
		ngpios = <8>;
		#gpio-cells = <2>;
	};
};

/ {
	gpios {
		compatible = "gpio-leds";
		led_green: led_green {
			gpios = <&gpioa 8 (GPIO_ACTIVE_HIGH)>;
			label = "test pin";
		};								
	};		
	zephyr,user {
		io-channels = <&adc1 1>;
		io-channel-names = "ADC_IN";

		dac = <&dac1>;
		dac-channel-id = <1>;
		dac-resolution = <12>;			
	};		
	auxdisplay_0: hd44780 {
		compatible = "hit,hd44780";
		columns = <16>;
		rows = <2>;
		mode = <4>;
		boot-delay-ms = <100>;
		rs-line-delay-ns  = <0>;		
		enable-line-rise-delay-ns = <0>;
		enable-line-fall-delay-ns = <0>;
		register-select-gpios = <&aux_display_gpio 0 (GPIO_ACTIVE_HIGH)>;
		read-write-gpios    = <&aux_display_gpio 1 (GPIO_ACTIVE_HIGH)>;
		enable-gpios        = <&aux_display_gpio 2 (GPIO_ACTIVE_HIGH)>;
		backlight-gpios     = <&aux_display_gpio 3 (GPIO_ACTIVE_HIGH)>;
		data-bus-gpios      = <0>, <0>, <0>, <0>,
				<&aux_display_gpio 4 (GPIO_ACTIVE_HIGH)>,
				<&aux_display_gpio 5 (GPIO_ACTIVE_HIGH)>,
				<&aux_display_gpio 6 (GPIO_ACTIVE_HIGH)>,
				<&aux_display_gpio 7 (GPIO_ACTIVE_HIGH)>;
	};	
};

&adc1 {
	#address-cells = <1>;
	#size-cells = <0>;
	channel@1 {
		reg = <1>;
		zephyr,gain = "ADC_GAIN_1";
		zephyr,reference = "ADC_REF_INTERNAL";
		zephyr,acquisition-time = <ADC_ACQ_TIME_DEFAULT>;
		zephyr,resolution = <12>;
	};
};
